body {

    font-family: "Helvetica" , sans-serif;
    font-size: 22px;
    color: Seashell;
    background-color: black;
    opacity: 0.9;


}

h2,
h3,
h4 {
  margin: 0px;
  padding: 5px;
}

/* Header */
nav span {
    display: inline-block;
    padding: 15px 10px;
    color: Seashell;
    text-decoration: underline;

}

a {
  color: Seashell;
  padding-bottom: 10px;
  align-items: center;
  margin: auto;

}

nav {
  display: inline-block;
  text-align: right;
  float: right;
  padding-right: 10px;
  flex-grow: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

.flex-conteiner {
  display: flex;
  height: 80px;
  border-bottom: 1px solid seashell;

}

header {
   width: 100%;
   height: 80px;
   background-color: black;
   border-bottom: 1px solid Seashell;
   position: fixed;
   z-index: 1;
   align-items: center;

}

/* First Section of Content ourmission */

#ourmission {
        height: 700px;
        /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");*/
        padding-top: 10px;
        display: flex;
        justify-content: center;
        /* I think flex wrap here in a bit */

}

 .conteiner {
     display: inline;
     position: relative;
     }
  input {
    width: 500px
  }
  h2 h4 {
    background: black;
    position: absolute;

  }


/*
h2 span {
    display: inline-block;
    color: Seashell;
    background-color: black;

  }

h4 span {

  color: Seashell;
  background-color: black;

} */

.item img {

       height: 200px;
       width: 300px;
       margin: 10px 10px;
       display: block;
}

.item span {

      display: block;
      padding: 5px 5px;
      font-weight: bold;
      justify-content: space-around;

}
