body {

    font-family: Helvetica;
    font-size: 22px;
    color: Seashell;
    background-color: black;
    opacity: 0.9;
    text-align: justify;

}

/* Header */
nav span {
    display: inline-block;
    padding: 15px 10px;
    color: Seashell;
    text-decoration: underline;

}

a {
  color: Seashell;
  padding-bottom: 20px;
  align-items: center;
  margin: auto;

}

nav {
  text-align: right;
  flex-grow: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
  padding-top: 20px;
}

header {
  height: 120px;
  border-bottom: 1px solid seashell;
}

/* First Section of Content ourmission */

#ourmission {
        height: 700px;
        background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
        padding-top: 60px;

}
