body {

    font-family: "Helvetica" , sans-serif;
    font-size: 22px;
    color: Seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;


}

h2,
h3,
h4 {
  margin: 0px;
  padding: 10px;
}

/* Header */
nav span {
    display: inline-block;
    padding: 15px 10px;
    color: Seashell;
    text-decoration: underline;

}

a {
  color: Seashell;
  padding-bottom: 10px;
  align-items: center;
  margin: auto;

}

nav {
  display: inline-block;
  text-align: right;
  float: right;
  padding-right: 10px;
  flex-grow: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

.flex-conteiner {
  display: flex;
  height: 80px;
  border-bottom: 1px solid seashell;

}

header {
   width: 100%;
   height: 80px;
   background-color: black;
   border-bottom: 1px solid Seashell;
   position: fixed;
   z-index: 1;
   align-items: center;

}
       /* Main Conteiner Section */

.main-conteiner {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;

}

      /* First Section of Content ourmission, This is a much simpler and easier shorter way of doing this text over images */

.background-image-conteiner {
        height: 700px;
        background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
        background-size: cover;
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

}

.flex-conteiner {
        display: inline;
        flex-wrap: nowrap;

}

.text-over-image {
      background: black;
      color: Seashell;
      width: 1200px;
      text-align: center;

}
/*
 .conteiner {
     display: inline;
     position: relative;
     }
  input {
    width: 500px
  }
  h2 h4 {
    background: black;
    position: absolute;
    width: 1200px;
    height: 100px;

  }
*/

           /* Items for Sale Section */

.sale-items {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       flex-wrap: wrap;
       align-items: center;
       align-content: space-around;
       width: 1000px;
       padding-bottom: 50px;

}

.store-highlight {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       align-content: center;
       padding-top: 30px;
       padding-bottom: 15px;

}

.item img {

       height: 200px;
       width: 300px;
       margin: 10px 10px;
       display: block;
}

.item span {

      display: block;
      padding: 10px;
      font-weight: bold;
      text-align: center;

}
           /*Locations Section */
.locations {

        background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
        height: 700px;
        width: 1150px;
        padding-top: 60px;

}

div {

  display: block;
  flex-direction: row;
  justify-content: space-around;

}

h2 {
      display: block;
      font-weight: bold;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      text-align: center;
      align-items: flex-start;
}

#locations .flex-conteiner {
      width: 1200px;
      margin: auto;
}

.flex-conteiner.locations {
     padding-top: 5px;
}

.flex-conteiner {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}

.location {
     opacity: 1;
     background-color: black;
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 300px;
     height: 300px;
     padding: 10px;
     margin: 5px 20px;
}

h3 {
     display: block;
     font-weight: bold;
     -webkit-margin-before: 1em;
     -webkit-margin-after: 1em;
     -webkit-margin-start: 0px;
     -webkit-margin-end: 0px;
     text-align: center;
}

p {
     display: block;
     -webkit-margin-before: 1em;
     -webkit-margin-after: 1em;
     -webkit-margin-start: 0px;
     -webkit-margin-end: 0px;
     text-align: center;
}
         /* Contact Section */

#contact {
     height: 200px;
}
div {
     display: block;
}

h2 {
    display: block;
    font-weight: bold;
    text-align: center;
}

h5 {
    display: block;
    font-weight: bold;
    text-align: center;
}

        /* Footer Section */

footer {
    text-align: left;
    padding-left: 20px;
}
