body {

    font-family: "Helvetica" , sans-serif;
    font-size: 22px;
    color: Seashell;
    background-color: black;
    opacity: 0.9;


}

h2,
h3,
h4 {
  margin: 0px;
  padding: 5px;
}

/* Header */
nav span {
    display: inline-block;
    padding: 15px 10px;
    color: Seashell;
    text-decoration: underline;

}

a {
  color: Seashell;
  padding-bottom: 10px;
  align-items: center;
  margin: auto;

}

nav {
  display: inline-block;
  text-align: right;
  float: right;
  padding-right: 10px;
  flex-grow: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

.flex-conteiner {
  display: flex;
  height: 80px;
  border-bottom: 1px solid seashell;

}

header {
   width: 100%;
   height: 80px;
   background-color: black;
   border-bottom: 1px solid Seashell;
   position: fixed;
   z-index: 1;
   align-items: center;

}
       /* Main Conteiner Section */

.main-conteiner {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;

}

/* First Section of Content ourmission */

#ourmission {
        height: 700px;
        /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");*/
        padding-top: 10px;
        padding-bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        /* I think flex wrap here in a bit */

}

.flex-conteiner {
        display: inline;
        flex-wrap: nowrap;

}

.text-conteiner {
      flex-grow: 1;
      align-self: center;

}
/*
 .conteiner {
     display: inline;
     position: relative;
     }
  input {
    width: 500px
  }
  h2 h4 {
    background: black;
    position: absolute;
    width: 1200px;
    height: 100px;

  }
*/
        /* Items for Sale Section */

.sale-items {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       flex-wrap: wrap;
       align-items: center;
       align-content: space-around;
       width: 1000px;
       padding-bottom: 50px;

}

.store-highlight {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       align-content: center;
       padding-top: 30px;
       padding-bottom: 15px;

}

.item img {

       height: 200px;
       width: 300px;
       margin: 10px 10px;
       display: block;
}

.item span {

      display: inline;
      padding: 20px 10px;
      font-weight: bold;
      justify-content: center;

}
